@font-face{
    font-family: 'Proxima Nova Rg It';
    src: url(../fonts/ProximaNova-RegularIt.eot);
    src: url(../fonts/ProximaNova-RegularIt.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-RegularIt.woff2) format("woff2"),url(../fonts/ProximaNova-RegularIt.woff) format("woff"),url(../fonts/ProximaNova-RegularIt.ttf) format("truetype"),url(../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt) format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Lt';
    src: url(../fonts/ProximaNova-LightIt.eot);
    src: url(../fonts/ProximaNova-LightIt.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-LightIt.woff2) format("woff2"),url(../fonts/ProximaNova-LightIt.woff) format("woff"),url(../fonts/ProximaNova-LightIt.ttf) format("truetype"),url(../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt) format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Bl';
    src: url(../fonts/ProximaNova-Black.eot);
    src: url(../fonts/ProximaNova-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Black.woff2) format("woff2"),url(../fonts/ProximaNova-Black.woff) format("woff"),url(../fonts/ProximaNova-Black.ttf) format("truetype"),url(../fonts/ProximaNova-Black.svg#ProximaNova-Black) format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Lt';
    src: url(../fonts/ProximaNova-Semibold.eot);
    src: url(../fonts/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Semibold.woff2) format("woff2"),url(../fonts/ProximaNova-Semibold.woff) format("woff"),url(../fonts/ProximaNova-Semibold.ttf) format("truetype"),url(../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold) format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Th';
    src: url(../fonts/ProximaNova-Extrabld.eot);
    src: url(../fonts/ProximaNova-Extrabld.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Extrabld.woff2) format("woff2"),url(../fonts/ProximaNova-Extrabld.woff) format("woff"),url(../fonts/ProximaNova-Extrabld.ttf) format("truetype"),url(../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld) format("svg");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Rg It';
    src: url(../fonts/ProximaNova-RegularIt_1.eot);
    src: url(../fonts/ProximaNova-RegularIt_1.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-RegularIt_1.woff2) format("woff2"),url(../fonts/ProximaNova-RegularIt_1.woff) format("woff"),url(../fonts/ProximaNova-RegularIt_1.ttf) format("truetype"),url(../fonts/ProximaNova-RegularIt_1.svg#ProximaNova-RegularIt) format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Rg';
    src: url(../fonts/ProximaNova-Regular.eot);
    src: url(../fonts/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Regular.woff2) format("woff2"),url(../fonts/ProximaNova-Regular.woff) format("woff"),url(../fonts/ProximaNova-Regular.ttf) format("truetype"),url(../fonts/ProximaNova-Regular.svg#ProximaNova-Regular) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Bold It';
    src: url(../fonts/ProximaNova-BoldIt.eot);
    src: url(../fonts/ProximaNova-BoldIt.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-BoldIt.woff2) format("woff2"),url(../fonts/ProximaNova-BoldIt.woff) format("woff"),url(../fonts/ProximaNova-BoldIt.ttf) format("truetype"),url(../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt) format("svg");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova-Bold.eot);
    src: url(../fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Bold.woff2) format("woff2"),url(../fonts/ProximaNova-Bold.woff) format("woff"),url(../fonts/ProximaNova-Bold.ttf) format("truetype"),url(../fonts/ProximaNova-Bold.svg#ProximaNova-Bold) format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Lt';
    src: url(../fonts/ProximaNova-Light.eot);
    src: url(../fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Light.woff2) format("woff2"),url(../fonts/ProximaNova-Light.woff) format("woff"),url(../fonts/ProximaNova-Light.ttf) format("truetype"),url(../fonts/ProximaNova-Light.svg#ProximaNova-Light) format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Proxima Nova Lt';
    src: url(../fonts/ProximaNova-SemiboldIt.eot);
    src: url(../fonts/ProximaNova-SemiboldIt.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-SemiboldIt.woff2) format("woff2"),url(../fonts/ProximaNova-SemiboldIt.woff) format("woff"),url(../fonts/ProximaNova-SemiboldIt.ttf) format("truetype"),url(../fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt) format("svg");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: 400;
    src: local("Segoe UI Regular"),url("../fonts/Segoe UI.woff") format("woff");
}

@font-face{
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: 400;
    src: local("Segoe UI Italic"),url("../fonts/Segoe UI Italic.woff") format("woff");
}

@font-face{
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: 400;
    src: local("Segoe UI Bold"),url("../fonts/Segoe UI Bold.woff") format("woff");
}

@font-face{
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: 400;
    src: local("Segoe UI Bold Italic"),url("../fonts/Segoe UI Bold Italic.woff") format("woff");
}

#re-password,
.login-form_password-wrapper {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width:768px){
    #re-password,
    .login-form_password-wrapper {
        width: 100%;
    }
}

#re-password {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#home-login-form .form_error_message.step-1,
button[type=submit].step-1-button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media only screen and (max-width:768px){
    #home-login-form .form_error_message.step-1,
    button[type=submit].step-1-button {
        width: 100%;
    }
}

#home-login-form .form_error_message,
#home-reset-form .form_error_message {
    background-color: rgba(226,70,40,.2);
    color: #e24628;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-radius: 0;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #e24628;
    margin-bottom: 10px;
}

.form_submit {
    background-color: #ed3833;
    color: #fff;
    border: 1px solid #ed3833;
    font-family: 'Segoe UI Bold';
    line-height: 1;
}

.form_submit:hover {
    color: #ed3833;
    background-color: #fff;
}

.action-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
    color: #14aecf;
    font-family: 'Segoe UI Bold';
    text-transform: uppercase;
    letter-spacing: .8px;
    line-height: 1;
    font-size: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.action-text span {
    margin-left: 5px;
}

.action-text:hover {
    color: #fff;
}

.logout {
    margin-left: 20px;
}

.footer-wrapper a,
.footer-wrapper a:link,
.footer-wrapper a:visited {
    color: #fff;
    font-size: 14px;
}

.footer-wrapper a:hover,
.footer-wrapper a:link:hover,
.footer-wrapper a:visited:hover {
    text-decoration: underline;
}

.login-form_password-wrapper {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
}

#reset-form {
    cursor: pointer;
}

#next-step,
#reset-form {
    display: block;
    border: 2px solid #14aecf;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 10px 10px 10px 10px;
    background-color: #14aecf;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

#next-step:hover,
#reset-form:hover {
    color: #14aecf;
    background-color: #fff;
}

a.blue-button:link,
a.blue-button:visited {
    display: inline-block;
    border: 2px solid #14aecf;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 10px 10px 10px 10px;
    background-color: #14aecf;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

a.blue-button:link:hover,
a.blue-button:visited:hover {
    color: #14aecf;
    background-color: #fff;
}

#return-step {
    display: block;
    border: 2px solid #14aecf;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 15px 30px;
    background-color: #14aecf;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

#return-step:hover {
    color: #14aecf;
    background-color: #fff;
}

div.ginput_container_radio {
    margin-top: 16px;
    margin-bottom: 0;
}

ul li.gfield {
    margin-top: 16px;
    padding-top: 0;
}

#gform_fields_1 p {
    margin-bottom: 10px;
}

.gfield_required {
    color: #e92a2d;
}

.gfield_label {
    color: #1d3464;
}

.gfield_radio.sub {
    margin-top: 5px;
}

#half-size-fields li.gfield {
    margin-top: 0;
}

.gfield_radio.multiple_radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    margin-top: 8px;
}

.gfield_radio li {
    margin: 0 0 8px 0;
    line-height: 1.3;
}

ul.gfield_radio li label {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    color: #1d3464;
}

.multiple_radios .multiple_radios li {
    margin-bottom: 0;
}

.subquestion {
    position: relative;
    padding-left: 12px;
}

.subquestion:before {
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    font-size: 8px;
    top: 3px;
    display: inline-block;
    left: 0;
}

.multiple_radios li label {
    padding-bottom: 20px;
    position: relative;
    width: 30px;
    text-align: center;
}

.multiple_radios li label:before {
    position: absolute;
    bottom: 0;
    left: 5px;
}

.gfield_radio input[type=radio] {
    display: none;
}

li.gfield input[type=radio] {
    margin-left: 1px;
}

.gfield_radio li input[type=radio] {
    margin-top: 6px;
}

.gfield_radio input[type=radio]+label:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    text-align: center;
    border-color: #b3b3b3;
    background-color: #fafafa;
    border-width: 1px;
    border-style: solid;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.ginput_container_consent input[type=checkbox]:checked+label:before {
    content: "\2714";
    line-height: 1.2;
    font-size: calc(20px / 1.2);
    font-weight: 700;
}

input[type=checkbox]:checked,
input[type=checkbox]:focus:checked,
input[type=checkbox]:hover:checked,
input[type=radio]:checked,
input[type=range]::-webkit-slider-thumb,
input[type=reset] {
    border-color: #0274be;
    background-color: #0274be;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=checkbox]+label:before {
    border-radius: 0;
}

.gfield_radio input[type=radio]:checked+label:before {
    background-color: #14aecf;
    -webkit-box-shadow: inset 0 0 0 4px #fafafa;
    box-shadow: inset 0 0 0 4px #fafafa;
}

.ginput_container_consent input[type=checkbox] {
    display: none;
}

.ginput_container_consent input[type=checkbox]+label:before {
    border-radius: 0;
}

.ginput_container_consent input[type=checkbox]+label:before {
    border-color: #949494;
    border-width: 2px;
    border-style: solid;
}

.ginput_container_consent input[type=checkbox]+label:before {
    background-color: #fafafa;
}

.ginput_container_consent input[type=checkbox]+label:before {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.ginput_container_consent input[type=checkbox]+label:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    margin-top: -1px;
    text-align: center;
}

.ginput_container_consent input[type=checkbox]+label:before {
    border-radius: 0;
}

.ginput_container_consent input[type=checkbox]:checked+label:before {
    color: #14aecf;
}

.gfield_consent_description {
    width: 100%;
    max-height: 240px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-top: 12px;
    margin-bottom: 15px;
    padding: 6px 8px;
    font-size: .788em;
    font-family: 'Proxima Nova Rg';
}

div.ginput_container {
    margin-top: 8px;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: 17px;
    padding: 12px 10px;
}

.medium {
    max-width: 300px;
    background-color: #fafafa;
    border: 1px solid #b3b3b3;
}

a.link-active,
a.link-active:link,
a.link-active:visited {
    font-family: 'Segoe UI Bold';
}

.gfield_error {
    background-color: rgba(255,223,224,.25);
    margin-bottom: 6px!important;
    border-top: 1px solid #c89797;
    border-bottom: 1px solid #c89797;
    padding-bottom: 6px;
    padding-top: 8px;
    box-sizing: border-box;
}

.gfield_description.validation_message {
    margin-top: 10px;
    color: red;
}

#blog-posts label {
    display: block;
    margin-top: 13px;
    margin-bottom: 3px;
}

#blog-posts form {
    margin-top: 10px;
    margin-bottom: 30px;
}

#blog-posts textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 10px;
}

#blog-posts input[type=submit] {
    background-color: #14aecf;
    color: #fff;
    border: 2px solid #14aecf;
    padding: 5px 20px;
    cursor: pointer;
}

#blog-posts input[type=submit]:hover {
    color: #14aecf;
    background-color: #fff;
}

#progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 20px;
}

#progress-bar .progress-bar-step {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 12px 15px;
    font-family: 'Segoe UI Bold';
    color: #a0a0a0;
    background-color: #e3e3e3;
    margin-bottom: 0;
}

#progress-bar .progress-bar-step:not(:last-child) {
    border-right: 1px solid #fff;
}

#progress-bar .progress-bar-step:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#progress-bar .progress-bar-step:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media only screen and (max-width:768px){
    #progress-bar .progress-bar-step {
        font-size: 14px;
        padding: 12px 10px;
    }
}

#progress-bar .checked {
    background: #14aecf;
    color: #fff;
}

#progress-bar .ready {
    background: #14aecf;
    background: -webkit-gradient(linear,right top,left top,color-stop(50%,#e3e3e3),color-stop(50%,#14aecf));
    background: -ms-linear-gradient(#e3e3e3,#14aecf);
    background: -o-linear-gradient(right,#e3e3e3 50%,#14aecf 50%);
    background: linear-gradient(to left,#e3e3e3 50%,#14aecf 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    zoom: 1;
}

#progress-bar .ready.active {
    background-position: left bottom;
    color: #fff;
}

#progress-bar>p {
    background-color: #e3e3e3;
    width: 100%;
    margin-bottom: 20px;
}

#progress-bar>p span.step-1 {
    width: 36.33%;
    display: inline-block;
}

#progress-bar>p span.step-2 {
    width: 66.66%;
    display: inline-block;
}

#progress-bar>p span.step-3 {
    width: 100%;
    display: inline-block;
}

.sprite {
    background-image: url(../images/icons-sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-customer-service {
    width: 50px;
    height: 41px;
    background-position: -5px -5px;
}

.sprite-fast-shipping {
    width: 67px;
    height: 41px;
    background-position: -65px -5px;
}

.sprite-returns-15-days {
    width: 49px;
    height: 41px;
    background-position: -142px -5px;
}

.sprite-secure-payments {
    width: 40px;
    height: 41px;
    background-position: -201px -5px;
}

.sprite-service {
    width: 41px;
    height: 41px;
    background-position: -251px -5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-toggle {
    cursor: pointer;
    height: 1.6em;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6em;
    z-index: 2;
}

.nav-toggle:hover .nav-toggle-bar,
.nav-toggle:hover .nav-toggle-bar::after,
.nav-toggle:hover .nav-toggle-bar::before {
    background: #14aecf;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: #fff;
    content: '';
    height: 4px;
    transition: all .5s;
    width: 100%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 8px;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -8px;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: 0 0;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: #fff;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #14aecf;
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #14aecf;
}

.nav {
    background: #14aecf;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 100vh;
    left: -15rem;
    padding: 6rem 2rem 2rem 1rem;
    position: fixed;
    top: 0;
    transition: left .5s;
    width: 15rem;
    z-index: 1;
}

.nav.expanded {
    left: 0;
}

.nav ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
}

.nav ul a {
    color: #fff;
    line-height: 2;
}

.nav ul a:hover {
    text-decoration: underline;
}

#main {
    background-image: linear-gradient(to bottom,rgba(20,174,207,.5),rgba(255,255,255,.5)),url(https://source.unsplash.com/r9eIL7jtenc);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255,255,255,.75);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2rem;
    position: relative;
}

@media only screen and (max-width:768px){
    .nav-toggle.expanded {
        position: fixed;
        top: 36px;
    }
}

abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 14px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(1em + 1vw);
    background-color: #fff;
}

@media (min-width:500px){
    html {
        font-size: 14px;
    }
}

@media (min-width:700px){
    html {
        font-size: 16px;
    }
}

body,
form,
option,
select,
table {
    font-family: 'Proxima Nova Rg',Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5em;
    font-family: 'Proxima Nova Rg';
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

@media only screen and (max-width:768px){
    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.3em;
    }

    h5 {
        font-size: 1.2em;
    }

    h6 {
        font-size: 1em;
    }
}

a,
a:link,
a:visited {
    font-family: 'Segoe UI Regular';
    text-decoration: none;
    color: #14aecf;
}

ol,
p,
ul {
    padding-bottom: 0;
    line-height: 1.2;
}

ol,
ul {
    padding: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
    padding-top: 0;
    padding-bottom: 0;
}

.bold {
    font-family: 'Segoe UI Bold';
}

.italic {
    font-style: italic;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.yellow {
    background-color: #feff03;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

button[type=submit],
input[type=email],
input[type=password],
input[type=text] {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

button[type=submit] {
    margin-bottom: 0;
    cursor: pointer;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

strong {
    font-family: 'Proxima Nova Bold';
}

input[type=radio]:checked+label {
    font-family: 'Proxima Nova Bold';
}

.site-inner-container {
    max-width: 1200px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #000;
    padding: 20px 0;
}

header .site-inner-container {
    padding: 0 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .heading-image {
    max-width: 450px;
    margin: 0 auto;
}

body.home main {
    background-color: #1e1e1e;
    display: flex;
}

body.home main .home-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

@media only screen and (max-width:768px){
    body.home main .home-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

body.home main .home-wrapper .home-image-overlay {
    -webkit-box-flex: 0;
    width: 69%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../images/LindseyBest_TR_SJ16-30-1-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:768px){
    body.home main .home-wrapper .home-image-overlay {
        -webkit-box-flex: 0;
        width: 100%;
        min-height: 50vh;
    }
}

body.home main .home-wrapper .home-image-overlay img {
    max-width: 75%;
    margin: 0 auto;
}

body.home main .home-wrapper .home-login {
    -webkit-box-flex: 0;
    width: 31%;
    padding: 25px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

@media only screen and (max-width:768px){
    body.home main .home-wrapper .home-login {
        -webkit-box-flex: 0;
        width: 100%;
    }
}

body.home main .home-wrapper .home-login h1 {
    color: #fff;
}

body.home main .home-wrapper .home-login .home-sub-heading {
    color: #a0a0a0;
    margin-bottom: 20px;
}

body.home main .home-wrapper .home-login .home-sub-heading.additional {
    margin-bottom: 0;
}

body.home main .home-wrapper .home-login .home-forgotten-password,
body.home main .home-wrapper .home-login .home-reset-password {
    margin-top: 30px;
}

body.home main .home-wrapper #reset-password,
body.home main .home-wrapper #return-to-login {
    cursor: pointer;
}

body.home main .home-wrapper #home-login-form,
body.home main .home-wrapper #home-reset-form {
    margin-top: 30px;
}

body.home main .home-wrapper #home-login-form input,
body.home main .home-wrapper #home-reset-form input {
    background: #fff;
    border: none;
}

body.home main .home-wrapper .return-to-login svg {
    transform: rotate(-180deg);
}

.steps-wrapper {
    max-width: 762px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #1d3464;
}

.steps-wrapper .home-login {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 40px 0;
}

.steps-wrapper .home-login h1 {
    color: #3a3a3a;
}

.steps-wrapper .home-login h1 span {
    font-family: 'Segoe UI Bold';
    display: block;
}

.steps-wrapper .home-login p {
    color: #3a3a3a;
    margin-bottom: 30px;
    color: #1d3464;
    font-family: 'Proxima Nova Rg';
    line-height: 1.5;
}

.steps-wrapper form {
    margin: 10px 0;
}

#input_1_12_Container,
#input_1_22_Container {
    max-width: 450px;
}

#input_1_12,
#input_1_22 {
    max-width: 450px;
    width: 100%;
}

#input_1_12_toolbar,
#input_1_22_toolbar {
    max-width: 450px;
}

#half-size-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#field_1_15,
#field_1_25,
#field_1_35,
#field_1_45,
#field_1_5,
#field_1_55 {
    width: 49%;
}

@media only screen and (max-width:768px){
    #field_1_15,
    #field_1_25,
    #field_1_35,
    #field_1_45,
    #field_1_5,
    #field_1_55 {
        width: 100%;
    }
}

@media only screen and (max-width:768px){
    .dashboard-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.dashboard-wrapper .home-login {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 40px 0;
}

.dashboard-wrapper h1 {
    color: #1d3464;
}

.dashboard-wrapper .dashboard-section_headings {
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.dashboard-wrapper .main-stage {
    background: #14aecf;
    border-color: #14aecf;
}

.dashboard-wrapper .main-stage:hover {
    background-color: #fff;
    color: #14aecf;
}

.dashboard-wrapper .help-desk {
    background-color: #e92a2d;
    border-color: #e92a2d;
}

.dashboard-wrapper .help-desk:hover {
    background-color: #fff;
    color: #e92a2d;
}

.dashboard-wrapper .tr-booths {
    background-color: #1d3464;
    border-color: #1d3464;
}

.dashboard-wrapper .tr-booths:hover {
    background-color: #fff;
    color: #1d3464;
}

.dashboard-wrapper .dashboard-name {
    text-transform: uppercase;
}

.dashboard-wrapper .help-desk,
.dashboard-wrapper .tr-booths {
    width: 49%;
}

@media only screen and (max-width:768px){
    .dashboard-wrapper .help-desk,
    .dashboard-wrapper .tr-booths {
        width: 100%;
    }
}

.dashboard-wrapper .dashboard-section_headings--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.dashboard-wrapper .dashboard-section_headings--icon {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    margin-right: 5px;
}

.dashboard-wrapper .dashboard-section_headings--icon i:before {
    font-size: 28px;
}

.dashboard-wrapper .dashboard-section_headings--text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    display: inline-block;
    text-align: center;
}

.dashboard-wrapper .dashboard-section_headings {
    font-family: 'Proxima Nova Rg';
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    fill: #fff;
    color: #fff;
    border-radius: 0;
    padding: 15px 30px;
    margin-bottom: 20px;
}

.dashboard-wrapper .dashboard-wrapper_text {
    -webkit-box-flex: 0;
    width: 64%;
}

@media only screen and (max-width:768px){
    .dashboard-wrapper .dashboard-wrapper_text {
        width: 100%;
    }
}

.dashboard-wrapper .dashboard-wrapper_text h2 {
    color: #1d3464;
    text-transform: uppercase;
}

.dashboard-wrapper .dashboard-wrapper_text p {
    margin-bottom: 20px;
    color: #1d3464;
    line-height: 1.6;
    font-family: 'Proxima Nova Rg';
}

.dashboard-wrapper .dashboard-wrapper_text a {
    color: #14aecf;
    text-decoration: underline;
    font-weight: 700;
}

.dashboard-wrapper aside {
    -webkit-box-flex: 0;
    width: 33%;
    margin-bottom: 20px;
}

@media only screen and (max-width:768px){
    .dashboard-wrapper aside {
        width: 100%;
    }
}

.dashboard-wrapper aside h2 {
    padding: 10px 5px 10px 5px;
    background-color: #000;
    color: #fff;
    margin-bottom: 0;
}

.dashboard-wrapper aside .aside-text_wrapper {
    background-color: #d2d2d2;
    color: #7a7a7a;
    padding: 10px;
}

.dashboard-wrapper aside .aside-text_wrapper .aside-image_wrapper {
    margin: 0 -30px 10px -30px;
}

@media only screen and (max-width:768px){
    .dashboard-wrapper aside .aside-text_wrapper .aside-image_wrapper {
        margin: 0;
    }
}

.dashboard-wrapper aside .aside-text_wrapper p {
    line-height: 1.7em;
    margin-bottom: 15px;
    color: #444;
}

.dashboard-wrapper aside .aside-text_wrapper .apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dashboard-wrapper aside .aside-text_wrapper .apps div {
    width: 50%;
    text-align: center;
}

.dashboard-wrapper aside .aside-text_wrapper .apps div a,
.dashboard-wrapper aside .aside-text_wrapper .apps div a:link,
.dashboard-wrapper aside .aside-text_wrapper .apps div a:visited {
    color: #1d3464;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Segoe UI Bold';
}

.dashboard-wrapper aside .aside-text_wrapper .apps div a i:before,
.dashboard-wrapper aside .aside-text_wrapper .apps div a:link i:before,
.dashboard-wrapper aside .aside-text_wrapper .apps div a:visited i:before {
    font-size: 50px;
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 20px 20px 20px 20px;
    font-family: 'Segoe UI Bold';
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item a,
.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item a:link,
.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item a:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'Segoe UI Bold';
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item a:hover,
.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item a:link:hover,
.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-item a:visited:hover {
    text-decoration: underline;
}

.dashboard-wrapper aside .aside-text_wrapper .step-1-button {
    border: 2px solid #14aecf;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #14aecf;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.dashboard-wrapper aside .aside-text_wrapper .step-1-button:hover {
    color: #14aecf;
    background-color: #fff;
}

.dashboard-wrapper aside .aside-text_wrapper .tr {
    width: 49%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dashboard-wrapper aside .aside-text_wrapper .upw-power {
    margin-top: 20px;
}

.dashboard-wrapper aside .aside-text_wrapper .foundataion {
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    background-color: #000;
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-icon i {
    color: #6ec1e4;
    margin-right: 10px;
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-icon-list-text {
    color: #54595f;
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-widget .elementor-icon-list-icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-grid-row-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 5px;
    display: inline-block;
}

.dashboard-wrapper aside .aside-text_wrapper .elementor-widget-icon-list .elementor-icon-list-text {
    color: #54595f;
}

.dashboard-wrapper aside .aside-text_wrapper .aside-download_wrapper li {
    line-height: 1.8;
    margin-left: 20px;
}

.dashboard-wrapper aside .aside-text_wrapper .aside-download_wrapper li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: #444;
}

.dashboard-wrapper aside .aside-text_wrapper .aside-download_wrapper li a:hover {
    text-decoration: underline;
}

.dashboard-wrapper aside .aside-text_wrapper .aside-download_wrapper li a i {
    color: #14aecf;
    font-size: 14px;
    margin-right: 10px;
}

.dashboard-wrapper aside .aside-text_wrapper .aside-download_wrapper li a i:before {
    font-size: 26px;
}

#blog-posts .post-heading {
    color: #1d3464;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Proxima Nova Bold';
}

#blog-posts .post-heading:hover {
    text-decoration: underline;
}

#blog-posts .date-time-post {
    margin-top: 5px;
    font-size: 12px;
    color: #adadad;
}

#countdown {
    width: 100%;
}

#countdown h2 {
    text-align: center;
    color: #1d3464;
}

#countdown ul {
    width: 100%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#countdown ul li {
    font-size: 20px;
    list-style-type: none;
    max-width: 140px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    line-height: 1;
    color: #fff;
    background-color: #faa41b;
}

@media only screen and (max-width:768px){
    #countdown ul li {
        font-size: 16px;
        padding: 10px;
    }
}

#countdown ul li span {
    display: block;
    font-size: 36px;
    text-align: center;
}

@media only screen and (max-width:768px){
    #countdown ul li span {
        font-size: 22px;
    }
}

#tr-shop {
    cursor: pointer;
}

#tr-shop img {
    display: block;
    border: 2px solid #14aecf;
    background-color: #fff;
}

.day-activities {
    margin-top: 20px;
}

div[class^=event-timing]>a {
    margin-top: 5px;
    display: inline-block;
}

#blog-posts .form-submitted p {
    font-family: 'Proxima Nova Bl';
    color: #e92a2d;
    font-size: 20px;
}

.top-banner-wrapper {
    justify-content: center;
}

.top-banner-wrapper img {
    max-width: 300px;
    width: 100%;
    margin: 20px;
    display: block;
}

@media only screen and (max-width:768px){
    .top-banner-wrapper img {
        margin: 20px auto;
    }
}

.board-break-support {
    background: url(../images/WoodBackground.png);
    background-size: cover;
    color: #1d3464!important;
}

.board-break-support:hover {
    color: #fff!important;
}

.webinar-with-tony {
    background: #000!important;
    color: #fff!important;
}

.dashboard-wrapper .kinrgy {
    margin-top: 0;
}

.dashboard-wrapper .kinrgy p {
    margin-bottom: 20px;
}

.dashboard-wrapper .kinrgy a {
    text-decoration: underline;
}

.kinrgy h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.kinrgy h2 {
    font-size: 22px;
    margin-bottom: 30px;
}

.kinrgy-wrapper div.center {
    margin: 40px 0;
}

#exlusive-session-stage {
    padding: 40px 30px;
    background: 0 0;
    background-image: url(../images/letter-button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-decoration: none;
    border: none;
}

#exlusive-session-stage:hover {
    text-decoration: underline;
    border: none;
}

.agent-wrapper .back-to-agent-list_button {
    max-width: 200px;
    width: 100%;
}

.agent-wrapper .zoom-meeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.agent-wrapper .zoom-meeting h2 {
    margin-bottom: 0;
}

.agent-wrapper .zoom-meeting a {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background-color: #faa41b;
    border: 2px solid #faa41b;
    text-align: center;
    line-height: 1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.agent-wrapper .zoom-meeting a:hover {
    background-color: #fff;
    color: #faa41b;
}

.agent-wrapper .zoom-meeting a.zoom-started {
    color: #faa41b;
    background-color: #fff;
    border: none;
}

.agent-wrapper .zoom-meeting a.zoom-started:hover {
    color: #faa41b;
    background-color: #fff;
    text-decoration: none;
}

.view-meeting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.view-meeting>div {
    margin-bottom: 20px;
}

.view-meeting .room-status {
    width: 100%;
}

.view-meeting .room-status a {
    display: inline-block;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    margin-left: 30px;
}

.view-meeting .room-status a.active {
    color: #fff;
    background-color: #9ecb3d;
    border: 2px solid #9ecb3d;
}

.view-meeting .room-status a.active:hover {
    background-color: #fff;
    color: #9ecb3d;
}

.view-meeting .room-status a.pause {
    color: #fff;
    background-color: #e92a2d;
    border: 2px solid #e92a2d;
}

.view-meeting .room-status a.pause:hover {
    background-color: #fff;
    color: #e92a2d;
}

.user-table .name-checking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-table .name-checking .name {
    max-width: 350px;
    width: 100%;
}

.user-table .user-details:nth-of-type(odd) {
    background-color: #fafafa;
}

.user-table .user-details {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #14aecf;
}

.user-table .user-details:hover {
    background-color: #ececec;
}

.user-table .name-checking label {
    font-family: 'Proxima Nova Bold';
}

.user-table .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width:768px){
    .user-table .user-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.user-table .user-info ul {
    width: 25%;
}

@media screen and (max-width:768px){
    .user-table .user-info ul {
        width: 100%;
    }
}

.user-table .user-info ul li {
    padding: 5px;
    font-size: 16px;
    font-family: 'Proxima Nova Rg';
}

.user-table-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.user-table-grid .user-details {
    width: 32%;
}

@media screen and (max-width:768px){
    .user-table-grid .user-details {
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .user-table-grid .user-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.user-table-grid .user-info ul li {
    padding: 5px 3px;
    font-size: 16px;
    font-family: 'Proxima Nova Bold';
    border-bottom: 1px solid #fafafa;
}

.user-table-grid .user-info ul li span {
    font-family: 'Proxima Nova Rg';
}

.user-table-grid .user-info ul:last-of-type() li:last-child {
    border-bottom: none;
}

.user-table-grid .user-details {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #14aecf;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.user-table-grid .user-details:hover {
    background-color: #fafafa;
}

.booths-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.booths-wrapper img {
    max-width: 130px;
}

.booths-wrapper h2 {
    font-family: 'Proxima Nova Bold';
    margin-bottom: 20px;
    font-size: 24px;
}

.booths-wrapper .booths-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    min-height: 400px;
    border-radius: 15px 15px 15px 15px;
    -webkit-transition: background .5s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
    transition: background .5s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
    transition: background .5s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .5s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
    -webkit-transition: background .5s,border .3s,border-radius .3s,box-shadow .3s;
    -moz-transition: background .5s,border .3s,border-radius .3s,box-shadow .3s;
    -ms-transition: background .5s,border .3s,border-radius .3s,box-shadow .3s;
    -o-transition: background .5s,border .3s,border-radius .3s,box-shadow .3s;
}

@media only screen and (max-width:768px){
    .booths-wrapper .booths-section {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.booths-wrapper .booths-section_image {
    margin-bottom: 20px;
    min-height: 75px;
}

.booths-wrapper .booths-section_image img {
    margin: 0 auto;
}

.booths-wrapper p {
    margin-bottom: 40px;
}

.booths-wrapper i:before {
    font-size: 70px;
}

.booths-wrapper .booth-link {
    margin-bottom: 20px;
    text-decoration: none;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 0;
    max-width: 200px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 17px;
    padding: 12px 24px;
    line-height: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fff;
}

.booths-wrapper .booth-link.blue {
    background-color: #14aecf;
    border-color: #14aecf;
}

.booths-wrapper .booth-link.blue:hover {
    color: #14aecf;
    background-color: #fff;
}

.booths-wrapper .booth-link.green {
    background-color: #9ecb3d;
    border-color: #9ecb3d;
}

.booths-wrapper .booth-link.green:hover {
    color: #9ecb3d;
    background-color: #fff;
}

.platinum_booth {
    background-color: #333;
    color: #fff;
}

.business_booth {
    background-color: #1d3662;
    color: #fff;
}

.university_booth {
    background-color: #9fc94d;
    color: #fff;
}

.product_booth {
    background-color: #1eafcd;
    color: #fff;
}

.coaching_booth {
    background-color: #0f979e;
    color: #fff;
}

.return-to-previous {
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.return-to-previous i {
    margin-right: 17px;
}

.return-to-previous i:before {
    font-size: 20px;
}

.return-to-previous a {
    font-size: 20px;
    font-family: 'Proxima Nova Bold';
}

.zoom-backgrounds-wrapper a {
    font-family: 'Proxima Nova Bold';
}

.zoom-backgrounds-wrapper a:hover {
    text-decoration: underline;
}

.zoom-backgrounds-wrapper #zoom-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
}

.zoom-backgrounds-wrapper .gallery-item {
    width: 47%;
    margin: 5px;
}

.zoom-backgrounds-wrapper .gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal-wrapper.modal-show,
.session-wrapper.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-hide {
    visibility: hidden;
    opacity: 0;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0,0,0,.6);
    overflow-y: scroll;
}

.modal-wrapper .modal-container {
    -webkit-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    margin: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #14aecf;
}

.modal-wrapper .modal-container .pop-up-fist {
    max-width: 60px;
    width: 100%;
}

.modal-wrapper .modal-container .pop-up-text {
    margin-left: 20px;
}

.modal-wrapper .modal-container h3 {
    margin-bottom: 10px;
}

.modal-wrapper .modal-container img {
    margin: 0 auto;
    max-width: 200px;
}

.modal-wrapper .modal-container p {
    margin-bottom: 20px;
}

.modal-wrapper .modal-container p:last-of-type {
    margin-bottom: 0;
}

.session-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0,0,0,.6);
    overflow-y: scroll;
}

.session-wrapper .session-container {
    position: relative;
}

.session-wrapper .session-container {
    max-width: 600px;
    margin: 40px;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #14aecf;
}

.session-wrapper .session-container .pop-up-fist {
    max-width: 60px;
    width: 100%;
}

.session-wrapper .session-container .pop-up-text {
    margin-left: 20px;
}

.session-wrapper .session-container h3 {
    margin-bottom: 10px;
}

.session-wrapper .session-container img {
    margin: 0 auto;
    max-width: 200px;
}

.session-wrapper .session-container p {
    margin-bottom: 20px;
}

.session-wrapper .session-container p:last-of-type {
    margin-bottom: 0;
}

.session-wrapper .step-1-button {
    border: 2px solid #14aecf;
    font-family: 'Segoe UI Bold';
    min-height: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #14aecf;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.1;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.session-wrapper .step-1-button:hover {
    color: #14aecf;
    background-color: #fff;
}

.session-wrapper #modal-close {
    position: absolute;
    border: none;
    background: 0 0;
    top: -15px;
    right: -15px;
    color: #fff;
    cursor: pointer;
}

.modal-container-points {
    -webkit-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
}

.modal-container-points .pop-up-fist {
    max-width: 60px;
    width: 100%;
}

.modal-container-points .pop-up-text {
    margin-left: 20px;
}

.modal-container-points h3 {
    margin-bottom: 10px;
}

.modal-container-points img {
    margin: 0 auto;
    max-width: 200px;
}

.modal-container-points p {
    margin-bottom: 20px;
}

.modal-container-points p:last-of-type {
    margin-bottom: 0;
}

#corner-popup,
#corner-popup .corner-container-2,
#corner-popup .p-col {
    padding: 0!important;
}

.modal-container-points .modal-close {
    display: none;
}

#corner-popup .corner-close {
    top: -16px!important;
    right: -16px!important;
}

footer {
    background-image: url(../images/20180421_MILLA-KUHTO_2549-2.png);
    background-position: top center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer section {
    min-height: 400px;
    width: 100%;
    position: relative;
    background-color: transparent;
    background-image: -o-radial-gradient(at center center,rgba(20,174,207,0) 0,#000 100%);
    background-image: radial-gradient(at center center,rgba(20,174,207,0) 0,#000 100%);
    opacity: 1;
    transition: background .3s,border-radius .3s,opacity .3s;
    -webkit-transition: background .3s,border-radius .3s,opacity .3s;
    -moz-transition: background .3s,border-radius .3s,opacity .3s;
    -ms-transition: background .3s,border-radius .3s,opacity .3s;
    -o-transition: background .3s,border-radius .3s,opacity .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    color: #fff;
}

@media only screen and (max-width:768px){
    footer .footer-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

footer .footer-wrapper .footer-privacy {
    -webkit-box-flex: 0;
    width: 50%;
}

@media only screen and (max-width:768px){
    footer .footer-wrapper .footer-privacy {
        -webkit-box-flex: 0;
        width: 100%;
        margin-bottom: 30px;
    }
}

footer .footer-wrapper .footer-privacy .footer-terms {
    margin-top: 10px;
}

footer .footer-wrapper .footer-social {
    -webkit-box-flex: 0;
    width: 50%;
    text-align: right;
}

@media only screen and (max-width:768px){
    footer .footer-wrapper .footer-social {
        -webkit-box-flex: 0;
        width: 100%;
    }
}

footer .footer-wrapper .footer-social .home-sub-heading {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold';
}

footer .footer-wrapper .footer-social .footer-social_icons {
    text-align: right;
    margin-top: 10px;
}

footer .footer-wrapper .footer-social .footer-social_icons a {
    text-align: center;
    padding: .3em;
}

footer .footer-wrapper .footer-social .footer-social_icons a:hover {
    text-decoration: none;
    color: #14aecf;
}

footer .footer-wrapper .footer-social .footer-social_icons i {
    width: 1.4em;
    height: 1.4em;
}

.change-button {
}

.dashboard-wrapper aside .aside-text_wrapper .change-button .step-1-button {
    border: 2px solid #000;
    background-color: #000;
    display: block;
}

.dashboard-wrapper aside .aside-text_wrapper .change-button .step-1-button:hover {
    background-color: #fff;
    color: #000;
}

.change-button a.step-1-button .elementor-button-content-wrapper {
}

.change-button a.step-1-button .elementor-button-content-wrapper .elementor-button-text {
}

.diamond-section.dashboard-wrapper .plat-but {
    border: 2px solid #000;
    background-color: #000;
    display: block;
}

.diamond-section.dashboard-wrapper .plat-but:hover {
    background-color: #fff;
    color: #000;
}

.diamond-section.dashboard-wrapper .plat-but2 {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    display: block;
}

.diamond-section.dashboard-wrapper .plat-but2:hover {
    background-color: #000;
    color: #fff;
}

.dashboard-wrapper .dashboard-section_headings.kids-room {
    border: 2px solid #e92a2d;
    background-color: #fff;
    color: #e92a2d;
    display: block;
    background-image: url("../images/handprint_button.png");
}

.dashboard-wrapper .dashboard-section_headings.welcome-but {
    border: 2px solid #9ECB3D;
    background-color: #9ECB3D;
    color: #fff;
    display: block;
}

.dashboard-wrapper .dashboard-section_headings.welcome-but:hover {
    background-color: #fff;
    color: #9ECB3D;
}

.dashboard-wrapper .dashboard-section_headings.welcome-plat-but {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    display: block;
}

.dashboard-wrapper .dashboard-section_headings.welcome-plat-but:hover {
    background-color: #fff;
    color: #000;
}

.dashboard-wrapper aside .aside-text_wrapper .step-1-button.date-destiny {
    border: 2px solid #AA2173;
    background-color: #AA2173;
    color: #fff;
    display: block;
    margin: -10px auto 0px auto;
    width: 75%;
}

.dashboard-wrapper aside .aside-text_wrapper .step-1-button.ultimate-coaching {
    border: 2px solid #00979F;
    background-color: #00979F;
    color: #fff;
    display: block;
    margin: 0px auto 10px auto;
    width: 75%;
}

.dashboard-wrapper aside .aside-text_wrapper .step-1-button.date-destiny:hover {
    background-color: #fff;
    color: #AA2173;
}

.dashboard-wrapper aside .aside-text_wrapper .step-1-button.ultimate-coaching:hover {
    background-color: #fff;
    color: #00979F;
}

.dashboard-wrapper .dashboard-section_headings.upgrade-ultimate {
    border: none;
    background-color: #fff;
    color: #e92a2d;
    display: block;
}

.dashboard-wrapper.grouped-buttons .grouped-button {
    width: 50%;
}

.dashboard-wrapper.grouped-buttons .grouped-button .grouped-button-1 {
    max-width: 98%;
    margin: 0px 0px 20px 0;
}

.dashboard-wrapper.grouped-buttons .grouped-button .grouped-button-2 {
    max-width: 98%;
    margin: 0px 0px 20px 0;
    margin-left: 2%;
}

@media only screen and (max-width:768px){
    .dashboard-wrapper.grouped-buttons .grouped-button {
        width: 100%;
    }

    .dashboard-wrapper.grouped-buttons .grouped-button .grouped-button-1 {
        max-width: 100%;
        margin: 0px 0px 20px 0;
    }

    .dashboard-wrapper.grouped-buttons .grouped-button .grouped-button-2 {
        max-width: 100%;
        margin: 0px 0px 20px 0;
        margin-left: 0;
    }
}
