<!DOCTYPE html>
<html style="scroll-behavior: smooth;">

    <head>
       {{template "meta" .}}
        
        <script type="text/javascript">
        window.GUMLET_CONFIG = {
            hosts: [{
                current: "seminaire-virtuel.com",
                gumlet: "superpowers.gumlet.net"
            }],
            lazy_load: true
        };
        (function(){d=document;s=d.createElement("script");s.src="https://cdn.gumlet.com/gumlet.js/2.0/gumlet.min.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
        </script>
    </head>
    <body>
         <main> 
          
            {{template "noroute" .}}
        </main>

        {{ template "scripts" . }}
         
    </body>
</html>